body {
    font-family: Inter, Arial, sans-serif;
    margin: 3%;
}

.link {
    color: #606060;
    
}

.link:hover {
    color: #909990;
}

.header {
    padding: 3px;
    text-align: center;
  }

.header-link {
    margin: 0 15px;
  }

.main {
    font-family: Inter, Arial, sans-serif;
    margin: 0 auto;
    width: 1122px;
  }

.img-wrapper {
    padding: 10px;
    text-align: center;
  }

.title {
    color: #303030;
    padding: 5px;
    text-align: center;
  }

.subtitle {
    border-left: 3px solid #909090;
    padding-left: 10px;
    color: #303030;
    margin-top: 30px;
  }

.contact {
    text-align: center;
    color: #303030;

}

.contact-link {
    margin: 0 50px;
}

.clink {
    color: #303030;
    margin-left: 0px;
    
}

.clink:hover {
    color: #909090;
}

.footer {
    font-family: Inter, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    color: #909090;
  }