:root {
  --white: #fff;
  --dark-gray: #383e47;
  --whitesmoke: #f5f5f5;
}

::selection {
  background: var(--dark-gray);
  color: var(--white);
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--dark-gray);
  background-color: var(--white);
}

.block {
  max-width: 1280px;
  margin: 120px auto;
}

.logo {
  font-family: "Montserrat Subrayada", sans-serif;
}

.text {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 2.5rem;
  line-height: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 200;
}

/* HEADER */

.header {
  max-width: 1290px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #383e47;
}

.header-link,
.header-logo {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-gray);
  font-size: 1rem;
  padding: 5px;
  transition: 0.5s;
}

.header-link:hover {
  color: var(--white);
  background: var(--dark-gray);
  transition: 0.5s;
}

.header-logo {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

/* MAIN SCREEN */

.main-screen-content {
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PORTFOLIO */

.portfolio {
  padding-bottom: 30px;
  background: var(--whitesmoke);
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-content-items {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.portfolio-content-items-item {
  padding: 60px 166.75px;
}

.portfolio-content-items-item-info__title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.portfolio-content-items-item-info {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-content-items-item-info-links__item {
  text-decoration: none;
  color: var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
}

.portfolio-content-items-item-info-links__item:visited {
  border-bottom: 1px solid gray;
}

.portfolio-content-items-item-info-text-subtitle-lists {
  display: flex;
  gap: 40px;
}

.portfolio-content-items-item-info-text-subtitle-lists__items {
  list-style: square;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-content-items-item-image,
.portfolio-content-items-item-image__image {
  filter: grayscale(1);
  transition: 0.6s;
  cursor: pointer;
  width: 947px;
  height: 533px;
}

.portfolio-content-items-item-image:hover,
.portfolio-content-items-item-image__image:hover {
  filter: grayscale(0);
  transition: 0.6s;
  width: 997px;
  height: 583px;
}

/* CONTACT */

.contact-content-items {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.contact-content-items__link {
  border: 1px solid var(--dark-gray);
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--dark-gray);
  background: var(--white);
}

.contact-content-items__link:hover {
  background: var(--dark-gray);
  color: var(--white);
  border: 1px solid transparent;
}
